@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
/*  font-family: 'Open Sans', sans-serif;  */

/*===========Preloader css start here=============*/
.spinner {
  position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background:#7c984e;
}
.spinner-inner{
  position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background:#ffffff;
}
.spinner-inner .cube1,.spinner-inner .cube2{background-color: #7c984e;}
.cube1, .cube2 {
  background-color: #fff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin:-7px 0 0 -7px;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/*===Login css====*/
.login-logo {
    margin: 100px auto 20px;
	text-align: center;
}

.login-block { width: 320px; padding: 20px;background: #fff; border-radius: 5px; border-top: 5px solid #7c984e; margin: 0 auto;}

.login-block h1 { text-align: center; color: #000; font-size: 18px; text-transform: uppercase; margin-top: 0; margin-bottom: 20px;}

.login-block input { width: 100%; height: 42px; box-sizing: border-box;  border-radius: 5px; border: 1px solid #ccc; margin-bottom: 20px;
    font-size: 14px;  font-family: 'Open Sans', sans-serif; padding: 0 20px 0 50px;  outline: none;}

.login-block input#username { background: #fff url(../images/u0XmBmv.png) 20px top no-repeat; background-size: 16px 80px;}

.login-block input#username:focus { background: #fff url(../images/u0XmBmv.png) 20px bottom no-repeat; background-size: 16px 80px;}

.login-block input#password {
    background: #fff url(../images/Qf83FTt.png) 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url(../images/Qf83FTt.png) 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid  #ff656c;
}

.login-block a {width: 100%; padding: 10px 0;text-align:center; background:#7c984e;   box-sizing: border-box;  border-radius: 5px; border: 1px solid #7c984e;
    color: #fff; font-weight: bold;  text-transform: uppercase; font-size: 14px;  font-family: 'Open Sans', sans-serif; outline: none; cursor: pointer;
	display:block;}

.login-block a:hover { background: #5d7233;}
/*===Login css====*/

/*===========common css start here=============*/
html,body{height:100%; width:100%;}
*{margin:0; padding:0;}
body{ font-family: 'Open Sans', sans-serif; background: #e6e6e6;}
img, fieldset{border:none;}
a:focus{outline:none}	
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {	text-decoration: none;}
ul,ol{ margin:0; padding:0; list-style:none;}
h1,h2,h3,h4,h5,h6{ font-weight:normal; margin:0;}
.fw{ float:left; width:100%;}
.no-pad{ padding:0 !important;}
.no-pad-left{ padding-left:0 !important;}
.no-pad-right{ padding-right:0 !important;}
.fade{z-index:0;}
/*===========common css end here=============*/


.main_sidebar{ width: 19%; position: fixed; left: 0; top: 0; background: #7c984e; height: 100%; padding: 0;}
.main_sidebar .logo{ background: #fff; min-width: 100%; text-align: center; padding: 7px 11%; display: inline-block; vertical-align: top}
.main_sidebar .logo img{ display: inline-block;}

.main_sidebar nav{ border: none; background: none;}
.navbar-header h2, .navbar-header .login-toggle, .navbar-header .user-mobile-dropdown, .navbar-toggle2{ display: none;}
.navbar .sales_box{ display: none;}
#Main_menu{ padding: 0; transition: .5s}
#Main_menu ul{ width: 100%;}
#Main_menu li{ display: block; float: none; line-height: 20px; border-bottom: 1px solid #657738;}
#Main_menu li.logo{ display: none;}
#Main_menu li.active a, #Main_menu li a:hover{ background: #5d7233;}
#Main_menu li a{ color: #fff; display: block; padding:20px 10px;}
#Main_menu li a img{ margin-right: 8px; vertical-align: top}
#Main_menu li a i{ font-size: 20px;}

.main_container{ width: 81%; padding: 0; margin-left: 19%;}
.main_container.no-margin{ width: 100%; margin-left: 0;}
.admin_sec{ background: #f2f2f2; border-bottom: 1px solid #d4d4d4; float: left; width: 100%; padding: 16px 2%;}
.admin_sec p{ float: left; margin: 10px 0 0; color: #a9a9a9;}
.admin_sec .user{ float: right; color: #727272; line-height: 35px;}
.admin_sec .user img{ border: 1px solid #fff; border-radius: 50%; margin-right: 5px; vertical-align: middle}
.admin_sec .user i{ color: #678830; margin-left: 5px; vertical-align: middle; font-size: 21px;}

.admin_sec .login_details{ float: right; position: relative}
.login_details .user-dropdown{ background: #fff; display: none; border: 1px solid #ccc;left: 0;position: absolute;top: 53px; width: 100%; z-index: 9;}
.login_details .user-dropdown li a{ padding: 5px 15px; font-size: 15px; line-height: 20px; display: block; color: #666;}
.login_details .user-dropdown li a i{ color: #7c984e; margin-right: 10px;}
.login_details .user-dropdown li a:hover{ background: #7c984e; color: #fff;}
.login_details .user-dropdown li a:hover i{ color: #fff;}

.navbar-header .icon-back{ display: none;}
.wrapper{ margin: 0 2%; clear: both;}

.title_sec{ padding: 25px 0 20px; display: inline-block; vertical-align: top; width: 100%; position: relative}
.title_sec .icon{ color: #5d7233; border: 1px solid #5d7233; border-radius: 5px; padding: 1px 5px; margin-right: 15px; font-size: 20px; display: inline-block; vertical-align: top}
.title_sec .icon.back-btn{ background: #5d7233; text-align: center; color: #fff; width: 30px; height: 33px; line-height: 24px;}

.summary_title .curreny{ display: none;}

.title_sec h2{ position: absolute; z-index: -1; left: 0; top: 24px;  width:100%; margin: 0; text-align: center}

.curreny_box{ border: 1px solid #7c984e; background: #7c984e; float: right; border-radius: 5px;}
.curreny_box span{ display: inline-block; padding:0px 6px; color: #fff;}
.curreny_box select{ background: #fff; border-radius: 0 5px 5px 0; height:30px; padding: 0 2px; border: none;}

.pagesummmary_box{ border: 1px solid #d2d2d2; margin: 0 0 22px; padding: 0 0 30px; display: inline-block; width: 100%; background: #fff;}
.summary_title{ background: #5d7233; padding: 10px 2%; color: #fff; position: relative; display: inline-block; width: 100%;}
.summary_title h3{ display: inline-block;}
.summary_title a{ float: right; color: #fff; line-height: 24px;}
.summary_title a i{ margin-left: 5px;}

.calender_sec{ position: absolute; display: none; right: 1%; background: #5d7233; border-radius: 5px; top: 38px; border: 0px solid #7C984E; padding:0 8px; min-width: 200px; z-index: 9;}
.calender_sec li{ margin: 6px 0;}
.calender_sec li a{ display: block; padding: 2px 15px; border-radius: 5px; background: #e5eadc; color: #5d7233; float: none;}
.calender_sec li a:hover{ background: #2b4001; color: #fff;}

.sales_box{ text-align: center; margin: 15px 0;}
.sales_box ul li{ display: inline-block; color: #666; text-align: left; padding: 10px 20px;}
.sales_box ul li:first-child{ text-align: right; border-right: 1px solid #656565;}
.sales_box ul li span{ display: block; padding: 0 0 5px; font-size: 20px; line-height: 25px;}
.sales_box ul li strong{ font-weight: 600; color: #009245; font-size: 40px; line-height: 40px;}

.indicate_list li{ padding: 15px 0; position: relative; border-bottom: 1px solid #ebebeb;}
.indicate_list li:last-child{ border-bottom: 0; padding-bottom: 0 !Important;}
.indicate_list li p{ font-size: 18px; color: #4a4a4a; line-height: 22px; margin: 0;}
.indicate_list li h3{ font-size: 25px; color: #6c6c6c; line-height: 30px; padding-left: 32px;}

.indicate_list li small{ float: left; width: 22px; height: 22px; margin: 12px 10px 0 0; border-radius: 50%;}
.indicate_list li small.purple{ background: #3c3b6e;}
.indicate_list li small.green{ background: #7c984e;}
.indicate_list li small.red{ background: #ce1126;}
.indicate_list li small.dgreen{ background: #006837;}
.indicate_list li small.lgreen{ background: #8cc63f;}

.indicate_list li .arrow{ width: 55px; height: 55px; font-size: 30px; line-height: 50px; color: #fff; background: #7c984e;  border-radius: 5px; position: absolute; right: 0; top: 13px; text-align: center}

.graph_section {margin-bottom:20px; display:inline-block; width:100%;}
.graph_section .common_box{ border: 1px solid #cbcbcb; color: #727272; background: #fff; padding: 45px 15px 10px; width:calc(25% - 15px); min-height: 130px; position: relative;}
.graph_section .common_box.half{ width:calc(50% - 10px);}
.graph_section .common_box.full-box{ min-height: 255px; }

.graph_section .common_box h4{ font-size: 15px; font-weight: 600; position: absolute; left: 0; top:0; color: #222; line-height: 20px; padding:8px 10px; width: 100%; background: #f6f6f6;}
.graph_section .common_box h4 i{ display: none;}
.graph_section .common_box h4 i.fa-arrows{ position: absolute; right: 10px; top: 10px;}
.graph_section .common_box:hover h4 i.fa-arrows{display: block;}
.graph_section .common_box h3{ font-weight: 600; font-size: 24px; line-height: 30px; color:#009245; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.graph_section .common_box.customers h3{padding-left: 10px;}
.graph_section .common_box .percent{ position: relative; font-size: 14px; padding-left: 25px; line-height: 25px; color: #c1272d;}
.graph_section .common_box .percent:after{ position: absolute; content: ''; left: 0; top: 5px; border-bottom: 10px solid #c1272d; border-left: 9px solid rgba(0,0,0,0); border-right: 9px solid rgba(0,0,0,0); }
.graph_section .common_box .week{ color: #979797; font-style: italic; margin: 0; font-size: 13px; line-height: 18px;}
.graph_section .common_box .graph{ float: left; margin: 0 10px 0 0;}

.graph_section .common_box .indicate_list.small-graph{ padding-left: 80px;}
.graph_section .common_box .indicate_list li small{ width: 10px; height: 10px; margin: 6px 5px 0 0;}
.graph_section .common_box .indicate_list li p{ float: left; font-size: 15px; line-height: 20px;}
.graph_section .common_box .indicate_list.small-graph li{ padding: 1px 0; display: inline-block; vertical-align: top; width: 100%;}
.graph_section .common_box .badges{ float: right; color: #008732; font-size: 15px; line-height: 20px;}
.graph_section .common_box h3.space{ margin: 8px 0 0px}
.graph_section .common_box.half .indicate_list{ float: right; max-height: 200px; overflow: auto; width: 55%; position: relative;}
.graph_section .common_box.half .indicate_list li{ padding: 10px 0;}
.graph_section .common_box.half .indicate_list li:last-child{ padding-bottom: 10px!Important;}
.graph_section .common_box.half .indicate_list li p{ float: none; font-size: 12px; line-height: 15px; text-transform:uppercase;}
.graph_section .common_box.half .indicate_list li h3{ padding: 0; font-size: 18px; line-height: 24px; font-weight: normal; color: #4a4a4a; display: inline-block}
.graph_section .common_box.half .indicate_list li .badges{ color: #4a4a4a; font-size: 16px; line-height: 20px;}
.graph_section .common_box.half .indicate_list li small{ width: 17px; height: 17px; margin: 10px 10px 0 0}
.graph_section .common_box.half img{ margin: 20px 0 0;}
.graph_section .common_box.half .progressimg{ float: left}

.graph_section .common_box.barchart h4{ float: left}
.graph_section .common_box.barchart h3{ float: right;}
.graph_section .common_box.barchart h3 span{ color: #4a4a4a; font-size: 15px; line-height: 20px;}
.graph_section .common_box.barchart p{ display: block; text-align: right; clear: both;}

.graph_section .common_box.reverse .indicate_list{ float: left}
.graph_section .common_box.reverse .progressimg { float: right}

footer{ padding: 20px 0; margin: 25px 0 0; color: #626262; line-height: 27px; font-size: 14px; background: #f2f2f2; border-top: 1px solid #dadada;}
footer p{ margin: 0;}


/*=========Dicount page css start here============*/
.filter_section{ display: inline-block; width: 100%;}
.filter_section .tab-content{ background: #fff; margin: -1px 0 0; border:1px solid #d2d2d2; padding: 10px 0 0}
.filtertable{ margin: 0 10px; max-width: calc(100% - 20px);}
.filtertable tr:first-child{ border: 1px solid #ccc; background: #7c984e; color:#fff;}
.filtertable td:first-child span{ display: inline-block; width: 15px; height: 15px; border-radius: 50%; background: #006837;}
.filtertable td:first-child span.combo{background: #006837;}
.filtertable td:first-child span.explat{background: #009245;}
.filtertable td:first-child span.meal{background: #39b54a;}
.filtertable td:first-child span.promo{background: #8cc63f;}
.filtertable td:first-child span.discount{background: #d9e021;}



.filtertable tr.add{ background: #f2f2f2; }
.filtertable tr.add td:first-child{border-left:1px solid #ccc;}
.filtertable tr.add td:last-child{border-right:1px solid #ccc;}
.filter_section tr.total table tr{ background: #7C984E; margin: 20px 0 0; color: #fff;}
.filter_section tr.total > td{ padding: 0;}
.filter_section tr.total table{ margin: 20px -12px 0; max-width: calc(100% + 24px); width: calc(100% + 24px);}

.filter_section .nav-tabs{ border: none; float: left;}
.filter_section .nav-tabs li{ display: inline-block; margin: 0 10px 0 0;}
.filter_section .nav-tabs li a{ display: inline-block; border-radius: 0; text-align: center; min-width: 215px; padding: 5px 10px; line-height: 40px; font-weight: 600; background: #7c984e; color: #fff; border: 1px solid #7c984e;}
.filter_section .nav-tabs li.active a{ background:#fff; color: #7c984e; border: 1px solid #ccc; border-bottom-color:#fff;}

.filter-row .keep{ color:#fff; background: #7C984E; float: right; border: 1px solid #7C984E; width: 30px; height: 30px; line-height: 30px; font-size: 25px; margin-top: 10px; text-align: center; vertical-align: middle; border-radius: 5px; position:relative;}
.filter-row .keep .fil-dropdown{position: absolute;    display: none; right: -1px; background: #7c984e;   border-radius: 0 0 5px 5px; top: 100%; margin: -2px 0 0 0; border: 0px solid #7C984E;  padding: 0 8px; min-width: 200px;   z-index: 9;}
.fil-dropdown li {font-size: 14px; text-align: left;}
.filter-row .keep .fil-dropdown li input{float:left; margin: 10px 10px 0 0; }


.filter-row{ display: inline-block; vertical-align: top; width: 100%;}
.advanced-filter{ float: left; width: 100%; margin: 0 0 20px;}
.advanced-filter .curreny_box{ display: inline-block; float: none; margin:0 10px 0 0;}
.advanced-filter .curreny_box select{min-width: 100px;}
.curreny_box.nonlabel select{ padding: 0 5px; border-radius: 5px;}

/*===css fixes start here====*/
/*.graph_section {max-height:1300px;}*/
.sebm-google-map-container { height: 309px;}
.leftgraph{ position: relative}
.leftgraph p.value{ position: absolute; left: 0; font-weight: 600; top: 55px; font-size: 35px; line-height: 40px; color: #666; width:100%; text-align: 
center}
.leftgraph span.value2{ position: absolute; left: 0; top: 90px; font-size: 25px; line-height: 30px; color: #4d4d4d; width:100%; text-align: 
center}


/* Tooltip css*/
.ng-tooltip {
    max-width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    position: absolute;
    z-index: 1000;
    display: block;
    opacity: 0;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
} 

.ng-tooltip-show {
    opacity: 1;
}

.ng-tooltip::after {
    content: "";
    position: absolute;
    border-style: solid;
}

.ng-tooltip-top::after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: black transparent transparent transparent;
}

.ng-tooltip-bottom::after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent black transparent;
}

.ng-tooltip-left::after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent black;
}

.ng-tooltip-right::after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent black transparent transparent;
}